* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #2b272f;
  text-align: center;
  line-height: 1;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1200px; // bu o'zgaruvchan
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
